	/***********************************
	Globales { 
	                                  */

	body
	{
		font-family: Arial;
		color: #333;
		font-size: 13px;
	}
	
	h1
	{
		font-size: 25px;
		font-weight: normal;
		text-align: center;
	}
	
	
	.cTitulo_ESt
	{
		font-size: 20px;
	}
	
	.cSubTitulo_ESt
	{
		
	}
	
	/* } Globales
	***********************************/
	
	/***********************************
	Codigo para CreoEdu { 
	                                  */
	.cTabla_LugarDelCodigoJS_ESt
	{
		margin: 0px auto;
	}
		.cTabla_LugarDelCodigoJS_ESt tbody tr td
		{
			vertical-align: top;
		}
		
		.cEspacioEntreLugares_ESt
		{
			width: 40px;
			height: 40px;
		}
		
		/***********************************
		Colocar el texto { 
	    */
		
		.cLugarDelCodigoJS_ESt
		{
			width: 400px;
			min-height: 32px;
			
			background-color: #F8F8F8;
			text-align: left;
			padding: 5px;
			color: #636363;
			box-shadow: 1px 1px 1px #888888;
			border: 1px solid #EEE;
			
			font-family: monospace,Arial;
			position: relative;
		}
			.cTextAreaCrearObjetos_LugarDelCodigoJS_ESt
			{
				position: absolute;
				top: 5px;
				left: 5px;
				
				width: 395px;
				min-height: 30px;
				border-width: 0px;
				
				padding: 0px;
				margin: 0px;
				border: 0px;
				
				font-family: Ubuntu, Arial;
				font-size: 13px;
				
				background-color: transparent;
				
				color: rgba(0,0,0,0.3);
				/* display: none; */
			}
			.cTextAreaCrearObjetos_LugarDelCodigoJS_ESt:focus
			{
				outline: none;
			}
			/** Esta es la sombra del codigo de arriba, donde se veran los colores **/
			.cSombraTextAreaCrearObjetos_LugarDelCodigoJS_ESt
			{
				width: 396px;
				word-wrap: break-word;
				border-width: 0px;
				
				padding: 0px;
				margin: 0px;
				border: 0px;
				
				font-family: Ubuntu, Arial;
				font-size: 13px;
				
			}
			
		/* } Colocar el texto
		***********************************/
		
		/***********************************
		Colocar el texto { 
	                                  */
		.cCanvas_LugarDelCanvas_ESt
		{
			border: 1px solid #E5E5E5;
		}
		
		.cDiv_LugarDelCanvas_ESt
		{
			margin: -3px 1px 0px 1px;
			height: 2px;
		}
			.cDiv_LugarDelCanvas_ESt input
			{
				border: 1px solid #DDD;
				color: #333;
			}
			.cDiv_LugarDelCanvas_ESt input[readonly]
			{
				border: 1px solid #DDD;
				background-color: #DDD;
				color: #555;
			}
		.cConsola_ESt
		{
			width: 490px;
			height: 140px;
			border: 1px solid #333;
			background-color: #333;
			color: #EBEBEB;
			font-family: Ubuntu, Arial;
			font-size: 13px;
			padding: 5px;
			overflow: auto
		}
		/* } Colocar el texto
		***********************************/
		
		
	/* } Codigo para CreoEdu
	***********************************/
	
	/***********************************
	Codigo { */
	
	/* funciones conocidas */
	span[fnc=ESt]{ color: #0C916B; }
	/* funciones conocidas */
	span[palclv=ESt]{ color: #0C916B; }
	/* parentesis */
	span[prntesis=ESt]{ color: #FFA606; }
	/* punto y coma */
	span[pntoycom=ESt]{ color: #008052; }
	/* comillas */
	span[cml=ESt]{ color: #058FCF; }
	/* comillas */
	span[num=ESt]{ color: #84ADAA; }
	
	/* } Codigo
	***********************************/
	
	/***********************************
	Solo para la interfaz de creaci�n de modulos { */
	
	/* Oculta los text area donde esta el codigo */
	textarea.cTextAreaCrearObjetos_LugarDelCodigoJS_ESt[invisible]
	{
		display: none;
	}
	
	/* } Solo para la interfaz de creaci�n de modulos
	***********************************/
	
	/***********************************
	   Para tablas creadas { */ 
	.cDivDeTablaNvl01_ESt .cDivDeTablaNvl02_ESt table
	{
		border-collapse: collapse;
		font-family: Arial;
		font-size: 13px;
	}
	/** Oculta la primera fila, donde estan td con el ancho pero sin contenido **/
	.cDivDeTablaNvl01_ESt table thead  tr:first-child td
	{
		height: 0px;
		border: 0px;
		background-color: transparent;
	}
	/**  **/
	.cDivDeTablaNvl01_ESt table thead  tr td
	{
		height: 22px;
		border: 1px solid #F1F1F1;
		background-color: #F7F7F7;
	}
		.cDivDeTablaNvl01_ESt table thead  tr td .cTablaTheadTrTdDivDeTitulo_ESt
		{
			padding: 0px 5px;
		}
	.cDivDeTablaNvl01_ESt table tbody tr td
	{
		height: 22px;
		border: 1px solid #F1F1F1;
	}
	.cDivDeTablaNvl01_ESt table tbody  tr:nth-child(2n) td
	{
		background-color: #F7F7F7;
	}
		.cDivParaTexto_ESt
		{
			padding: 0px 5px;
		}
		.cDivDeTablaNvl01_ESt table tbody  tr td .cInput_ESt, .cInputClasico_ESt
		{
			padding: 0px 2px;
			border: 1px solid #E0E0E0;
			height: 18px;
		}
		.cDivDeTablaNvl01_ESt table tbody  tr:nth-child(2n) td .cInput_ESt
		{
			background-color: #F7F7F7;
		}
		
		.cSelect_ESt
		{
			background-image: url(../images/Base/Base.png);
			background-repeat: no-repeat;
		}
		.cDivDeTablaNvl01_ESt table tbody  tr td  input.cSelect_ESt[readonly], input.cSelectClasico_ESt[readonly]
		{
			background-color: #F7F7F7;
			background-image: url(../images/Base/Base.png);
		}
		.cDivDeTablaNvl01_ESt table tbody  tr td  input.cSelect_ESt, input.cSelectClasico_ESt
		{
			padding: 0px 2px;
			border: 1px solid #E0E0E0;
			height: 18px;
			background-image: url(../images/Base/Base.png);
			background-repeat: no-repeat;
			background-color: #FFF;
			color: #333;
		}
		.cDivDeTablaNvl01_ESt table tbody  tr:nth-child(2n) td .cSelect_ESt
		{
			background-color: #F0F0F0;
		}
	
	/* } Para tablas creadas
	***********************************/
	
	/***********************************
	Autocompletar {
	*/
		.cDivDivAutocompletar_ESt
		{
			padding: 2px 2px;
			border-top: 1px solid #E0E0E0;
			min-height: 18px;
			background-color: #333;
			cursor: pointer;
			color: #DDD;
		}
		.cDivDivAutocompletarSel_ESt
		{
			padding: 2px 2px;
			border-top: 1px solid #E0E0E0;
			min-height: 18px;
			background-color: #777;
			cursor: pointer;
			color: #DDD;
		}
		
	/*
	} Autocompletar
	***********************************/
	
	
